# check if apple silicon
if [ -d /opt/homebrew ]; then
  echo "hello Apple CPU"
  source ~/venv/lindev/bin/activate
fi
if [ -d /usr/local/Cellar ]; then
  echo "hello Intel MAC"
  source ~/Sync/ivenv/bin/activate
fi
if [ -d /home/laird/venv ]; then
  source /home/laird/venv/bin/activate
fi
  
